body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-align: center;
}
p{
    margin-left: 460px;
}
.center{
    height: 200px;
    margin-left: 650px;
}